.jdiNPu{
    background: none !important;
    border: none !important;
    width: 100% !important;
    padding: 0 !important;
}

.kJIOyz{
    grid-gap: 10% !important;
}

.iNTkPl{
    grid-gap: 3px !important;
}

.YPIdN[aria-pressed='true']{
    background: #ef5225 !important;
}